.container {
  width: 100%;
  height: 100%;
}
.LandingPage {
  width: 100%;
  height: 100%;
}

.imgJolt {
  margin-left: 25%;
  width: 50%;
  height: 50%;
}
textarea {
  //border-radius: 2px;
  border: none;
  height: 100%;
  width: 100%;
  background: transparent;
  font-size: xx-large;
  text-align: center;
  //background-color: #FFCA08;
  //height: 16%;
  margin: -5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}
textarea:focus { 
  border: none; 
  overflow: auto; 
  outline: none; 
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none; 
  resize: none; 
}
.notepage {
  position: relative;
  height: 100%;
  width: 100%;
}

.childHoverDiv1 {
  margin: auto;
}
.childHoverDiv2 {
  transform: rotate(270deg);
}
.childHoverDiv3 {
  transform: rotate(90deg);
}
.childHoverDiv4 {
  margin: auto;
}
.middleRow {
  height: 90%;
}
.botRow{
  height: 5%;
}
.topRow{
  height: 5%;
}
.hoverDiv2 {
  display: flex;
  justify-content: center;
  align-items: center;   /* <---- NEW    */
  width: 100%;
  height: 100%;
  font-size: x-large;
}
.hoverDiv3 {
  display: flex;
  justify-content: center;
  align-items: center;   /* <---- NEW    */
  width: 100%;
  height: 100%;
  font-size: x-large;
}
.hoverDiv1 {
  display: flex;
  justify-content: center;
  align-items: center;   /* <---- NEW    */
  width: 100%;
  height: 100%;
  // box-shadow:
  // inset 0 0 50px #fff,
  // inset 20px 0 80px rgb(242, 215, 242),
  // inset -20px 0 80px #0ff,
  // inset 20px 0 300px rgb(245, 219, 245),
  // inset -20px 0 300px #0ff,
  // 0 0 20px #fff,
  // -10px 0 40px rgb(232, 205, 232),
  // 10px 0 40px #0ff;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  border: none;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}
.hoverDiv4 {
  display: flex;
  justify-content: center;
  align-items: center;   /* <---- NEW    */
  width: 100%;
  height: 100%;
  font-size: x-large;
  border-color: transparent;
}
form {
    width: 100%;
    
  }

.dailyContainer{
  background-color: rgb(232, 241, 242);
  // display: flex;
  // align-items:flex-start;
  // justify-content: center;
  width: 100%;
  height: 94%;
} 
  .loginBox {
    width: 50%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 20%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
  }
  
  .signUpSubmit {
    margin: 25px 0 15px 0;
  }
  
   .LoginSubmit {
    margin: 25px 0 15px 0;
  }
  
  .pwStrRow {
    width: 63%;
    text-align: left;
    margin: auto;
    padding: 0;
    font-size: 12px;
  }
  
  .pwStrWeak {
    display: inline-block;
    position: relative;
    left: 0;
    padding: 0;
    margin: 0;
    color: gray;
  }
  
  .pwStrStrong {
    display: inline-block;
    position: relative;
    left: 77%;
    padding: 0;
    margin: 0;
    color: gray;
  }
  
  @media screen and (max-width: 550px) {
    .loginBox {
      width: 85%;
    }
  }
//daily container styling
.daily-container{
  display: flex;
  align-items: center;
  justify-content: center;
  

}
// .daily-card{
  
// }
.notecard{
  background-color: rgb(255, 255, 255);
  box-shadow:
  0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075),
;
  height: 30rem;
  width: 50rem;
  display: flex;
  margin: auto;
  padding: 1em 3em; 
  align-items: center;
  justify-content: center;
}
h3{
  color:rgb(62, 58, 42);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-size: 5em;
}
.btn-container{
  display: flex;
  justify-content: space-between;
  
}

.btn{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(255, 255, 255);
  margin:1em 1em;
  padding: 1em 3em; 
  height: 5em;
  width: 15em;
  border: .15em solid black;
  box-shadow:
  0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075),
;
  font-size: 1.25em;
}

//notecard styling
.content-container{
  border: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.contents{
  border: none;
  font-size: 5em;
}

.category-name{
  border: 1px dotted red;
  align-self: flex-end;
  font-size: 3em;
}


  